@font-face {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url(../exam_fonts2/PublicSans-Bold.ttf);
}
@font-face {
  font-family: "Public Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url(../exam_fonts2/PublicSans-Regular.ttf);
}
@font-face {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  font-weight: 400;
  src: url(../exam_fonts2/DMSerifDisplay-Regular.ttf);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-size: 16px;
  background-color: #edf3f8;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.container {
  max-width: 1440px;
  padding: 0 20px 0 105px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 20px 10px 0 90px;
  }
}
@media screen and (max-width: 575px) {
  .container {
    padding: 10px 10px 0 10px;
  }
}
