.payment {
  display: flex;
  justify-content: space-between;
  &_father {
    margin-top: 220px;
    width: 445px;
    &_text {
      width: 445px;
    }
    &_title {
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.369231px;
      color: #36536b;
      margin-bottom: 24px;
    }
    &_desc {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      color: #6c8294;
    }
  }
  &_circle {
    width: 780px;
    height: 780px;
    margin-left: 400px;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
}

.payment_images {
  display: flex;
  position: absolute;
  top: 1870px;
  left: 500px;
  &_screen {
    position: absolute;
    top: 180px;
    left: 515px;
  }
}
@media screen and(max-width: 768px) {
  .payment {
    display: flex;
    flex-direction: column;
    &_father {
      &_text {
        margin-top: 370px;
        text-align: center;
      }
    }

    &_circle {
      display: none;
    }
    &_images {
      position: absolute;
      top: 2370px;
      left: 10px;
      &_screen {
        position: absolute;
        top: 180px;
        left: 515px;
      }
    }
  }
}
@media screen and(max-width:575px) {
  .payment {
    &_father {
      &_text {
        margin-top: 1100px;
      }
    }
    &_images {
      display: flex;
      flex-direction: column;
    }
  }
}
